.brand-color {
  background-color: #00cdfe;
  color: #234B52;
}
.brand-color-2 {
  color: #fbd2b6;
}
.brand-bg-2 {
  background-color: #EFF8FA;
  color:#234B52;
}
.brand-bg-3 {
  background-color: #234B52;
}
.brand-bg-4 {
  background-color: #D5F7FF;
}
body,
html {
  font-family: "Nunito", sans-serif;
  background-color: #EFF8FA;
  color: #234B52;
}

.site-navbar .site-navigation .site-menu > li > a {
  color: #4c331f;
  border: 2px solid transparent;
  padding: 0.5rem;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #4c331f;
  border-bottom: 2px solid #234B52;
  transition: all 0.4s ease-in-out;
}
.site-navbar .site-navigation .site-menu > li.active > a:hover {
  color: #234B52;
  background-color: #04cdff;
  transition: all 0.4s ease-in-out;
}
.site-navbar .site-navigation .site-menu .active > a {
 background-color: #EFF8FA;
  color:#234B52;
}
.site-navbar .site-navigation .site-menu .active > a {
 background-color: #234B52;
  color: #EFF8FA;
}

.btn-primary {
   background-color: #00cdfe !important;
  color: #234B52 !important;
}

.service-type {
  min-height: 25rem;
}
.process-card {
  box-shadow: 0 0.5rem 1rem #e2e2e261;
  border-color: #fffbf7;
}
.text-stroke {
  padding: 1rem;
  width: fit-content;
  border-radius: 0.5rem;
}

@supports (-webkit-text-stroke: 1px #4c331f) {
  .text-stroke {
    -webkit-text-stroke: 1px #4c331f;
    -webkit-text-fill-color: #faeadc;
  }
}
.wcu-img {
  background: url("../images/hero-img/andy-li-CpsTAUPoScw-unsplash.jpg"),
    #bdf2ff;
  height: 31.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.footer-59391 {
  /* background-color: #eff6ff; */
  border-top: 1px solid #efefef;
  padding: 4rem 0;
}

.footer-59391 .nav-links.nav-left li:first-child {
  padding-left: 0;
}

.footer-59391 .nav-links li {
  display: inline-block;
}

.footer-59391 .nav-links li a {
  color: #4c331f;
  padding: 10px;
}

.not-upper {
  text-transform: none;
}
.box-delivered {
  top: 27.5rem;
  right: -0.5rem;
  height: 12.25rem;
  border-radius: 1rem;
}
.no-overflow {
  overflow: hidden;
}

.about-img {
  margin-top: -8rem;
  border: 10px solid currentColor;
  border-radius: 1.6rem;
}
.img-about-round {
  border-radius: 0.8rem;
}
.bg-world-map{
  background-image: url('../images/hero-img/world\ map.png');
  background-size: cover;
    background-position: center;
    background-repeat-y: no-repeat;
}